*{
    background-color: blueviolet;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 50px;
    font-size: larger;
    text-align: center;
}
#titulo-principal {
    color: bisque;
    background-color: black;
}
#titulo-02 {
    color: white;
    margin: 25px;
    background-color: aquamarine;
}